{% extends 'layout.html.twig' %}

{% block title %}Блог - Новость{% endblock %}

{% block body %}
    <h1>Блог - Новость</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ blog.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ blog.title }}</td>
        </tr>
        {% if blog.category is not empty %}
            <tr>
                <th>Category</th>
                <td>{{ blog.category.name }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Description</th>
            <td>{{ blog.description }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ blog.text }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_blog_index') }}">Вернуться к своим публикациям</a><br>
    <a href="{{ path('app_blog_index') }}">Вернуться к публикациям</a>
    <br><br>

    <a href="{{ path('app_user_blog_edit', {'id': blog.id}) }}">
        <button class="btn-success">edit</button>
    </a>
    <br><br>

    {{ include('blog/_delete_form.html.twig') }}

    {{ include ('comment/index.html.twig') }}

{% endblock %}
