<!doctype html>
<html lang="en">
<head>
    <title> Домашняя новости </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/carousel/">
    {#    <link rel="canonical" href="../assets/css/carousel.css"> #}

    <!-- Bootstrap core CSS -->
    {#    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> #}


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="../assets/css/carousel.css" rel="stylesheet">

</head>
<body>


<div><a class="btn-success" href=""> ЛОГАУТ </a></div>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('app_homePage') }}">Домашняя <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_user_index') }}">ПОЛЬЗОВАТЕЛИ</a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url('app_homePageBlogs') }}"
                   data-toggle="dropdown" aria-expanded="false">ВСЕ БЛОГИ</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url('app_homePageBlogs') }}">ВСЕ БЛОГИ</a>
                    <a class="dropdown-item" href="#">Какая-нибудь категория</a>
                    <a class="dropdown-item" href="#">Ещё категория</a>
                </div>
            </li>
            {% if app.user == false %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('app_login') }}">Залогинься</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link btn btn-outline-primary" href="{{ url('app_user_blog_index') }}">МОИ БЛОГИ</a>
                </li>
                {#                <li class="nav-item active position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"> #}
                {#                    {{ app.user.email }} #}
                {#                </li> #}
            {% endif %}
        </ul>
        {% if app.user %}
            <button type="button" class="btn btn-primary">
                {{ app.user.email }} <span class="badge bg-secondary">
                {% if is_granted('ROLE_ADMIN') %} Администратор
                {% else %} Пользователь
                {% endif %}
            </span>
            </button>
            <a class="nav-link" href="{{ path('_logout_main') }}">ЛОГАУТ</a>
        {% endif %}

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<br>
<br>

<main role="main">

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
            <hr>
        </div> <!-- /container -->
    </div>
</main>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>
